# Library

In [ ]:
import os
import shutil
import numpy as np
import scipy
import pandas as pd
import math
import random
import sklearn
from scipy.sparse import csr_matrix
from scipy.sparse.linalg import svds
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity
from collections import defaultdict
import matplotlib.pyplot as plt
from collections import defaultdict
from sklearn.metrics import mean_squared_error
pd.options.mode.chained_assignment = None  # default='warn'

In [ ]:
def display_full(x, columns=False):
    pd.set_option('display.max_rows', len(x))
    if columns:
        pd.set_option('display.max_columns', len(x.columns))

    display(x)
    pd.reset_option('display.max_rows')
    pd.reset_option('display.max_columns')
    pd.set_option('display.max_rows', 500)
    pd.set_option('display.max_columns', 500)
    pd.set_option('display.width', 1000)

# Import Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
# !mkdir /content/movie_list
shutil.unpack_archive('/content/drive/MyDrive/Colab Dataset/movielens-latest.zip', '/content/movie_list/')
main_path = '/content/movie_list/ml-latest'

movie_data = pd.read_csv('/content/movie_list/ml-latest/movies.csv')
display(movie_data.head())
link_data = pd.read_csv('/content/movie_list/ml-latest/links.csv')
display(link_data.head())
rating_data = pd.read_csv('/content/movie_list/ml-latest/ratings.csv')
display(rating_data.head())
tags_data = pd.read_csv('/content/movie_list/ml-latest/tags.csv')
display(tags_data.head())

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

   userId  movieId           tag   timestamp
0      14      110          epic  1443148538
1      14      110      Medieval  1443148532
2      14      260        sci-fi  1442169410
3      14      260  space action  1442169421
4      14      318  imdb top 250  1442615195

# 1.Collaborative Filtering with Matrix Factorization (from Scratch)

## Data Wrangling

Collaborative Filtering has a problem to user cold-start, which model might not be able to provide a decent recommendation list to those who have given low number of rating, therefore model have lack of information about cold-start user preference


In this stage, we are going to select user who have given at least interacted with 2000 movies and movies has been rated by 1000 users (this will help to reduce the table size, cause I have limited resources to compute masive table)

In [ ]:
n_interacted = 2000
user_movie_data_temp = pd.pivot_table(rating_data, index = ['userId'], values='movieId', aggfunc='count')
user_movie_data_temp[user_movie_data_temp.movieId>=n_interacted]
selected_user_ids = user_movie_data_temp[user_movie_data_temp.movieId>=n_interacted].index
print('number of userIds: ', str(len(selected_user_ids)))

n_rated = 1000
get_rated_movie = pd.pivot_table(rating_data, index=['movieId'], values='userId', aggfunc='count')
get_rated_movie[get_rated_movie.userId>=n_rated]
selected_movie_ids = get_rated_movie[get_rated_movie.userId>=n_rated].index

print('numbser of movieIds: ', str(len(selected_movie_ids)))

filtered_rating_data = rating_data[(rating_data['userId'].isin(selected_user_ids)) &(rating_data['movieId'].isin(selected_movie_ids))]
filtered_rating_data['movieId'] = filtered_rating_data['movieId'].apply(lambda x: 'm_'+str(x))
# filtered_rating_data['user_movie'] = filtered_rating_data['userId'].astype(str) + '_' + filtered_rating_data['movieId'].astype(str)

print('raw data shape.  : ',str(filtered_rating_data.shape))

number of userIds:  424
numbser of movieIds:  3931
raw data shape.  :  (736327, 4)

In [ ]:
filtered_rating_data = filtered_rating_data[['userId','movieId','rating']]
filtered_rating_data

          userId   movieId  rating
128418      1272       m_1     3.5
128419      1272       m_7     2.0
128420      1272      m_11     4.0
128421      1272      m_16     2.5
128422      1272      m_21     3.0
...          ...       ...     ...
27735125  283000  m_177615     4.0
27735126  283000  m_177765     4.0
27735140  283000  m_179819     4.0
27735141  283000  m_180031     3.5
27735159  283000  m_187593     3.5

[736327 rows x 3 columns]

## train test split

In [ ]:
train_df, test_df =  train_test_split(filtered_rating_data, 
                                   stratify = filtered_rating_data['userId'],
                                   test_size = 0.2,
                                   random_state = 42)

print('train_df size:{}'.format(len(train_df)))
print('test_df size:{}'.format(len(test_df)))

train_df size:589061
test_df size:147266

While the information we require is present, it is not presented in a way that is beneficial for humans to comprehend. However, I have created a table that presents the same data in a format that is easier for humans to understand.

In [ ]:
user_movie_data_train = train_df.pivot(index='userId', columns='movieId', values='rating').fillna(0.0)
user_movie_data_train

movieId,m_1,m_10,m_100,m_100163,m_1003,m_100383,m_1004,m_100498,m_1005,m_1006,...,m_98961,m_99007,m_991,m_99112,m_99114,m_99149,m_994,m_996,m_99813,m_999
userId,,,,,,,,,,,,,,,,,,,,,
1272,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.5,0.0,3.5,0.0,0.0,0.0
2025,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,3.5,0.0,2.5,4.0,3.0,0.0,0.0,0.0,0.0
2150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0
2294,0.0,0.0,4.0,1.5,0.0,3.5,0.0,2.0,0.0,0.0,...,2.0,2.5,0.0,3.0,0.0,0.0,0.0,0.0,0.0,4.0
2329,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,3.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280585,5.0,3.5,3.5,0.0,0.0,0.0,0.0,0.0,0.0,3.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
280868,0.0,2.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,...,2.5,0.0,0.0,0.0,4.0,0.0,3.5,0.0,0.0,0.0
281631,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
281790,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
283000,4.5,3.5,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,3.5,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0

# Concept of Matrix Factorization

In [ ]:
def matrix_factorization(R, K, steps=5, alpha=0.002, beta=0.02):
    '''
    R: rating matrix
    P: |U| * K (User features matrix)
    Q: |D| * K (Item features matrix)
    K: latent features
    steps: iterations
    alpha: learning rate
    beta: regularization parameter
    
    '''
 
    P = np.random.rand(len(R),K)
    Q = np.random.rand(len(R[0]),K)
    Q = Q.T

    for step in range(steps):
        print('Processing epoch {}'.format(step))
        
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    eij = R[i][j] - np.dot(P[i,:],Q[:,j])
                    for k in range(K):
                        P[i][k] = P[i][k] + alpha * (2 * eij * Q[k][j] - beta * P[i][k])
                        Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - beta * Q[k][j])

        eR = np.dot(P,Q)

        e = 0

        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    e = e + pow(R[i][j] - np.dot(P[i,:],Q[:,j]), 2)
                    for k in range(K):
                        e = e + (beta/2) * (pow(P[i][k],2) + pow(Q[k][j],2))
        # 0.001: local minimum
        if e < 0.001:

            break

    return P, Q.T

In [ ]:
R = np.array(user_movie_data_train)
nP, nQ = matrix_factorization(R, K=10)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4

Transforming prediction to reconstructed matrix back into a Pandas dataframe.

In [ ]:
pred_R = np.dot(nP, nQ.T)

# Transforming prediction to reconstructed matrix back into a Pandas dataframe in cross-tabural format
user_movie_pred = pd.DataFrame(pred_R, columns=user_movie_data_train.columns, index=list(user_movie_data_train.index))
print(user_movie_pred.shape)
user_movie_pred.head(10)

(424, 3931)

movieId,m_1,m_10,m_100,m_100163,m_1003,m_100383,m_1004,m_100498,m_1005,m_1006,...,m_98961,m_99007,m_991,m_99112,m_99114,m_99149,m_994,m_996,m_99813,m_999
1272,3.704933,3.007068,2.750135,2.472991,2.652726,3.341733,2.234315,2.249339,1.826829,2.631809,...,3.437851,2.952539,3.083602,2.989692,3.699034,2.813051,3.577055,2.597896,3.391457,2.915030
2025,4.421106,3.539121,3.326415,3.084211,3.068702,4.069096,2.521009,2.683477,2.347356,3.186719,...,4.234720,3.552699,3.709807,3.884674,4.422847,3.659528,4.371806,3.224635,4.056423,3.552720
2150,4.285594,3.363209,3.145889,2.924917,3.063465,3.762490,2.501781,2.653686,2.129555,2.982331,...,3.888541,3.442264,3.614412,3.683015,4.206590,3.469269,4.156432,3.066423,3.867050,3.399714
2294,3.565833,2.985900,2.536842,2.393682,2.427902,3.004471,2.026742,2.213747,1.832468,2.522394,...,3.137199,2.875125,2.878284,2.914477,3.559463,2.751124,3.379228,2.559030,3.285609,2.839151
2329,4.347439,3.469210,3.228835,2.934374,3.085764,4.004204,2.533478,2.650342,2.244649,3.065708,...,4.147550,3.436063,3.738733,3.764968,4.376345,3.549846,4.377773,3.111934,3.990541,3.405643
2551,3.510894,2.608615,2.692949,2.498177,2.673976,3.478835,2.163087,2.137162,1.690185,2.535213,...,3.595106,2.758390,3.235368,3.122090,3.495837,2.900139,3.516665,2.488670,3.195247,2.786888
2629,4.463067,3.566304,3.284157,3.090476,3.101952,3.935165,2.557749,2.647811,2.237492,3.076960,...,4.098727,3.615451,3.782802,3.799067,4.381156,3.662086,4.212529,3.236345,4.002277,3.552976
4027,4.706546,3.687777,3.414177,3.147321,3.327239,4.141282,2.768419,2.834908,2.298139,3.234826,...,4.278820,3.725603,3.999447,3.846524,4.605923,3.666762,4.444017,3.299592,4.220770,3.677154
4605,3.212018,2.450162,2.442023,2.252122,2.325002,3.209729,1.944808,2.080196,1.659087,2.498929,...,3.243016,2.527302,2.840763,2.862035,3.223775,2.583719,3.322567,2.313214,2.997358,2.660311
4796,3.362401,2.689624,2.450053,2.217999,2.458253,3.006244,1.998367,2.080015,1.684336,2.332789,...,3.143747,2.621553,2.862709,2.789539,3.401112,2.596261,3.343984,2.327013,3.110509,2.563302

In [ ]:
# User Matrix
Pu = pd.DataFrame(nP, index=list(user_movie_data_train.index))
# Movie Matrix
Qu = pd.DataFrame(nQ, index=user_movie_data_train.columns)

# This matrix can be used independently to predict testing dataset

In [ ]:
def predict_rating(data):
    try:
        pred_rating = np.dot(Pu.loc[data.userId], Qu.loc[data.movieId].T)
    except Exception as e:
        pred_rating = np.nan
        print('Unknown user: {} or movieId: {}'.format(data.userId,data.movieId))
    return pred_rating

In [ ]:
test_df['pred_rating'] = test_df.apply(predict_rating, axis=1)

In [ ]:
test_df

          userId   movieId  rating  pred_rating
25761256  263149    m_3176     3.5     4.080173
22315943  228128    m_7419     2.5     3.637218
24342373  248881   m_89774     1.5     3.041938
18711521  190879  m_143355     3.0     3.290767
12150140  124492    m_2325     4.0     2.913533
...          ...       ...     ...          ...
13061955  133546   m_77561     4.0     3.036337
13866589  141955    m_3104     3.0     3.147288
26766434  273271    m_3396     3.5     3.527973
7491494    77157    m_3548     3.0     2.870988
23177168  236981    m_3397     4.5     3.383848

[147266 rows x 4 columns]

# Evaluation

In [ ]:
rmse_test = mean_squared_error(test_df['rating'], test_df['pred_rating'], squared=False)
rmse_test

0.8298063482981628

# 2.Collaborative Filtering using Surprise Package

In [ ]:
!pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 772.0/772.0 kB 11.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-surprise) (1.10.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp39-cp39-linux_x86_64.whl size=3195800 sha256=d2069901510a7ff7b201b5e43ec6b9b9e4fd059339680a6e4c9942842a004950
  Stored in directory: /root/.cache/pip/wheels/c6/3a/46/9b17b3512bdf283c6cb84f59929cdd5199d4e754d596d22784
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

In [ ]:
from surprise import Dataset, Reader, SVD
from surprise.model_selection import cross_validate, GridSearchCV, train_test_split

In [ ]:
# using the same data set as above, then we fit in to suprise package
filtered_rating_data

          userId   movieId  rating
128418      1272       m_1     3.5
128419      1272       m_7     2.0
128420      1272      m_11     4.0
128421      1272      m_16     2.5
128422      1272      m_21     3.0
...          ...       ...     ...
27735125  283000  m_177615     4.0
27735126  283000  m_177765     4.0
27735140  283000  m_179819     4.0
27735141  283000  m_180031     3.5
27735159  283000  m_187593     3.5

[736327 rows x 3 columns]

In [ ]:
reader = Reader(rating_scale=(0.5,5))
data = Dataset.load_from_df(filtered_rating_data[['userId','movieId','rating']], reader)

trainset, testset = train_test_split(data, test_size=0.25)

# We'll use the famous SVD (one of matrix factorization) algorithm.
algo = SVD()

# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

# Then compute RMSE
evaluation = cross_validate(algo, data, measures=['RMSE','MAE'], cv= 5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.7402  0.7408  0.7407  0.7421  0.7427  0.7413  0.0009
MAE (testset)     0.5589  0.5589  0.5598  0.5590  0.5609  0.5595  0.0008
Fit time          10.78   11.61   11.08   11.03   11.15   11.13   0.27
Test time         1.61    2.12    1.57    1.76    1.73    1.76    0.19

In [ ]:
def get_top_n(predictions, n=5):
    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [ ]:
top_n = get_top_n(predictions, 10)

for uid, user_ratings in top_n.items():
    print(uid, [mid for (mid, _) in user_ratings])

231832 ['m_912', 'm_260', 'm_1198', 'm_110', 'm_60069', 'm_1172', 'm_919', 'm_2324', 'm_1204', 'm_3095']
263860 ['m_2529', 'm_2467', 'm_109487', 'm_260', 'm_1333', 'm_1527', 'm_2360', 'm_30749', 'm_356', 'm_914']
220709 ['m_912', 'm_541', 'm_1193', 'm_1387', 'm_1219', 'm_2028', 'm_1276', 'm_750', 'm_3089', 'm_1200']
29647 ['m_7361', 'm_318', 'm_1947', 'm_2571', 'm_1958', 'm_104374', 'm_3097', 'm_7153', 'm_80463', 'm_5995']
281790 ['m_527', 'm_589', 'm_1961', 'm_480', 'm_508', 'm_1246', 'm_3147', 'm_1625', 'm_67255', 'm_858']
61614 ['m_1259', 'm_7669', 'm_1307', 'm_527', 'm_2028', 'm_318', 'm_1012', 'm_2797', 'm_150', 'm_1029']
191063 ['m_1222', 'm_593', 'm_2858', 'm_293', 'm_1732', 'm_1214', 'm_541', 'm_2571', 'm_1213', 'm_1196']
93512 ['m_356', 'm_2571', 'm_593', 'm_3147', 'm_457', 'm_1196', 'm_915', 'm_3510', 'm_628', 'm_858']
208336 ['m_919', 'm_912', 'm_1203', 'm_4322', 'm_904', 'm_916', 'm_1214', 'm_4327', 'm_923', 'm_3200']
21001 ['m_6874', 'm_778', 'm_3949', 'm_318', 'm_714', 'm_904', 'm_55814', 'm_7153', 'm_2329', 'm_5952']
227459 ['m_954', 'm_1217', 'm_2571', 'm_541', 'm_1197', 'm_1234', 'm_1284', 'm_1252', 'm_1258', 'm_912']
133016 ['m_924', 'm_111', 'm_1387', 'm_2920', 'm_926', 'm_3730', 'm_1265', 'm_599', 'm_2791', 'm_1136']
7705 ['m_1250', 'm_1198', 'm_1270', 'm_1240', 'm_1200', 'm_1213', 'm_4406', 'm_1', 'm_1610', 'm_1214']
151678 ['m_1203', 'm_1196', 'm_858', 'm_1207', 'm_3508', 'm_4886', 'm_1221', 'm_2612', 'm_293', 'm_2109']
142057 ['m_608', 'm_1270', 'm_4226', 'm_593', 'm_1387', 'm_1193', 'm_1221', 'm_2028', 'm_1954', 'm_1097']
239066 ['m_47', 'm_50', 'm_3435', 'm_1262', 'm_912', 'm_1230', 'm_1270', 'm_1997', 'm_3006', 'm_1280']
263149 ['m_318', 'm_5952', 'm_593', 'm_1196', 'm_1193', 'm_912', 'm_1262', 'm_2028', 'm_2858', 'm_919']
191444 ['m_1270', 'm_1196', 'm_1200', 'm_589', 'm_593', 'm_318', 'm_296', 'm_1089', 'm_50', 'm_112852']
278420 ['m_318', 'm_55820', 'm_858', 'm_1206', 'm_1265', 'm_541', 'm_2329', 'm_4226', 'm_1732', 'm_1233']
152127 ['m_858', 'm_912', 'm_51540', 'm_1206', 'm_1193', 'm_2186', 'm_1214', 'm_2019', 'm_260', 'm_7153']
248881 ['m_1120', 'm_8966', 'm_2232', 'm_4878', 'm_89864', 'm_7360', 'm_2316', 'm_223', 'm_115569', 'm_168366']
220000 ['m_296', 'm_318', 'm_1222', 'm_6016', 'm_912', 'm_541', 'm_923', 'm_1266', 'm_32587', 'm_1219']
260317 ['m_1089', 'm_112852', 'm_1258', 'm_4993', 'm_68358', 'm_6874', 'm_62434', 'm_55820', 'm_1036', 'm_78499']
18490 ['m_58559', 'm_48516', 'm_1213', 'm_589', 'm_4720', 'm_1617', 'm_50', 'm_59315', 'm_1193', 'm_1']
83575 ['m_296', 'm_608', 'm_1203', 'm_1208', 'm_1089', 'm_1219', 'm_4973', 'm_1196', 'm_923', 'm_3504']
133546 ['m_1198', 'm_2795', 'm_4886', 'm_593', 'm_1270', 'm_166461', 'm_122922', 'm_858', 'm_2028', 'm_377']
59455 ['m_858', 'm_1036', 'm_3527', 'm_4085', 'm_1387', 'm_1270', 'm_3101', 'm_2916', 'm_1266', 'm_4002']
16225 ['m_858', 'm_1228', 'm_2858', 'm_923', 'm_1193', 'm_1234', 'm_1242', 'm_1214', 'm_1036', 'm_1256']
91135 ['m_2019', 'm_1230', 'm_1219', 'm_6985', 'm_2925', 'm_1201', 'm_599', 'm_2726', 'm_7361', 'm_1214']
71773 ['m_858', 'm_1219', 'm_1248', 'm_3089', 'm_3435', 'm_1217', 'm_5690', 'm_913', 'm_1280', 'm_924']
174876 ['m_296', 'm_2019', 'm_1193', 'm_1230', 'm_1927', 'm_1178', 'm_2859', 'm_1333', 'm_2076', 'm_1233']
227511 ['m_1189', 'm_48516', 'm_3741', 'm_923', 'm_1228', 'm_608', 'm_7327', 'm_3730', 'm_1251', 'm_1212']
175332 ['m_608', 'm_7013', 'm_1288', 'm_922', 'm_1196', 'm_111', 'm_912', 'm_3365', 'm_5291', 'm_1265']
260133 ['m_1198', 'm_1201', 'm_1270', 'm_1089', 'm_1240', 'm_79132', 'm_2716', 'm_1387', 'm_1219', 'm_7153']
12096 ['m_1237', 'm_1178', 'm_1298', 'm_2288', 'm_3307', 'm_7001', 'm_3462', 'm_235', 'm_551', 'm_1196']
262989 ['m_924', 'm_1258', 'm_1193', 'm_3476', 'm_5995', 'm_2858', 'm_1090', 'm_2068', 'm_1203', 'm_593']
201328 ['m_1196', 'm_50', 'm_1200', 'm_593', 'm_1198', 'm_3527', 'm_2762', 'm_457', 'm_6', 'm_1954']
248019 ['m_1196', 'm_1387', 'm_1213', 'm_1207', 'm_899', 'm_1204', 'm_905', 'm_904', 'm_6016', 'm_1230']
217399 ['m_253', 'm_2959', 'm_509', 'm_8644', 'm_2432', 'm_4975', 'm_32', 'm_4963', 'm_110', 'm_539']
261887 ['m_6016', 'm_1230', 'm_1228', 'm_1198', 'm_912', 'm_608', 'm_1617', 'm_953', 'm_908', 'm_1673']
11109 ['m_1682', 'm_919', 'm_953', 'm_3471', 'm_356', 'm_2324', 'm_1197', 'm_266', 'm_1', 'm_1732']
242683 ['m_919', 'm_1204', 'm_1230', 'm_903', 'm_1212', 'm_2019', 'm_1284', 'm_1254', 'm_246', 'm_926']
153081 ['m_1213', 'm_1198', 'm_1214', 'm_50', 'm_3030', 'm_55820', 'm_1219', 'm_112552', 'm_908', 'm_1237']
191028 ['m_1387', 'm_1254', 'm_1250', 'm_913', 'm_318', 'm_1178', 'm_2019', 'm_296', 'm_3307', 'm_5291']
44565 ['m_1221', 'm_1203', 'm_1219', 'm_3462', 'm_923', 'm_260', 'm_1214', 'm_3307', 'm_1250', 'm_1304']
135714 ['m_1240', 'm_50', 'm_2571', 'm_2762', 'm_1213', 'm_1097', 'm_54286', 'm_1036', 'm_2871', 'm_1617']
223606 ['m_318', 'm_3360', 'm_2028', 'm_59369', 'm_733', 'm_2762', 'm_539', 'm_500', 'm_1961', 'm_49530']
2551 ['m_2076', 'm_1212', 'm_2022', 'm_858', 'm_665', 'm_924', 'm_1219', 'm_2391', 'm_2731', 'm_2360']
280868 ['m_1234', 'm_1721', 'm_1035', 'm_30749', 'm_919', 'm_3006', 'm_3386', 'm_2858', 'm_5464', 'm_913']
85980 ['m_2571', 'm_1097', 'm_4306', 'm_1', 'm_2028', 'm_1036', 'm_590', 'm_527', 'm_356', 'm_364']
166101 ['m_750', 'm_924', 'm_2395', 'm_1208', 'm_5971', 'm_5690', 'm_923', 'm_1237', 'm_4993', 'm_3730']
38337 ['m_1213', 'm_1732', 'm_1965', 'm_111', 'm_2511', 'm_3503', 'm_1209', 'm_1673', 'm_1276', 'm_6890']
242708 ['m_296', 'm_2858', 'm_80463', 'm_318', 'm_593', 'm_1198', 'm_1252', 'm_50872', 'm_293', 'm_4973']
172357 ['m_1196', 'm_1214', 'm_1240', 'm_1203', 'm_1259', 'm_1219', 'm_1262', 'm_3527', 'm_480', 'm_3435']
195821 ['m_1230', 'm_3424', 'm_595', 'm_36', 'm_34', 'm_2908', 'm_1304', 'm_5902', 'm_7438', 'm_3152']
188070 ['m_1193', 'm_4973', 'm_111', 'm_55820', 'm_6016', 'm_3462', 'm_318', 'm_912', 'm_1617', 'm_5291']
18052 ['m_924', 'm_923', 'm_1260', 'm_2997', 'm_1212', 'm_6985', 'm_296', 'm_922', 'm_6711', 'm_2731']
124492 ['m_1208', 'm_3160', 'm_50', 'm_32587', 'm_1258', 'm_778', 'm_1193', 'm_3030', 'm_1252', 'm_1214']
99662 ['m_4226', 'm_858', 'm_1196', 'm_1213', 'm_608', 'm_750', 'm_1214', 'm_1219', 'm_1203', 'm_1230']
168220 ['m_1270', 'm_50', 'm_2571', 'm_589', 'm_1291', 'm_1968', 'm_1721', 'm_356', 'm_5418', 'm_5669']
67910 ['m_904', 'm_3435', 'm_4993', 'm_923', 'm_1198', 'm_318', 'm_1262', 'm_4226', 'm_1204', 'm_1203']
245960 ['m_4878', 'm_110', 'm_293', 'm_2858', 'm_59387', 'm_7981', 'm_76251', 'm_48774', 'm_1625', 'm_2115']
87265 ['m_1213', 'm_923', 'm_1214', 'm_1230', 'm_541', 'm_246', 'm_1219', 'm_3362', 'm_1097', 'm_3160']
86648 ['m_318', 'm_858', 'm_912', 'm_527', 'm_150', 'm_3435', 'm_326', 'm_260', 'm_2762', 'm_590']
107383 ['m_904', 'm_1217', 'm_1260', 'm_951', 'm_1212', 'm_1282', 'm_2997', 'm_2905', 'm_1237', 'm_955']
67625 ['m_296', 'm_750', 'm_904', 'm_593', 'm_1221', 'm_527', 'm_1219', 'm_1198', 'm_50', 'm_1178']
268292 ['m_68954', 'm_1230', 'm_50', 'm_1198', 'm_912', 'm_1270', 'm_3435', 'm_945', 'm_81845', 'm_17']
168963 ['m_1193', 'm_1219', 'm_593', 'm_1213', 'm_32', 'm_5995', 'm_750', 'm_166643', 'm_2571', 'm_6870']
42746 ['m_2076', 'm_1175', 'm_608', 'm_2366', 'm_7766', 'm_60069', 'm_55820', 'm_1206', 'm_2599', 'm_1237']
175615 ['m_3275', 'm_5418', 'm_2005', 'm_110', 'm_4886', 'm_1270', 'm_1265', 'm_44665', 'm_2291', 'm_48516']
19679 ['m_1200', 'm_912', 'm_1196', 'm_1304', 'm_2762', 'm_2571', 'm_296', 'm_1961', 'm_1090', 'm_908']
250224 ['m_111', 'm_1193', 'm_1225', 'm_1213', 'm_3683', 'm_39183', 'm_1247', 'm_1104', 'm_1221', 'm_1208']
51515 ['m_318', 'm_296', 'm_1213', 'm_6874', 'm_1198', 'm_922', 'm_142488', 'm_1221', 'm_1193', 'm_99114']
56073 ['m_1203', 'm_50', 'm_122882', 'm_104841', 'm_6874', 'm_1198', 'm_79132', 'm_223', 'm_2858', 'm_68237']
231721 ['m_1244', 'm_924', 'm_904', 'm_1953', 'm_608', 'm_162', 'm_2303', 'm_5291', 'm_2731', 'm_1387']
106397 ['m_1203', 'm_4226', 'm_1199', 'm_122882', 'm_3134', 'm_923', 'm_2716', 'm_3421', 'm_903', 'm_3160']
70346 ['m_3260', 'm_67997', 'm_1057', 'm_1374', 'm_3362', 'm_3176', 'm_8529', 'm_994', 'm_3089', 'm_1270']
141955 ['m_1213', 'm_1201', 'm_7063', 'm_34542', 'm_924', 'm_1199', 'm_1965', 'm_2511', 'm_1254', 'm_3362']
75736 ['m_6377', 'm_2761', 'm_1', 'm_8636', 'm_2571', 'm_1097', 'm_56367', 'm_3897', 'm_4973', 'm_122886']
263301 ['m_750', 'm_924', 'm_903', 'm_1237', 'm_599', 'm_3307', 'm_2066', 'm_541', 'm_913', 'm_2076']
10379 ['m_293', 'm_1274', 'm_2700', 'm_3300', 'm_589', 'm_223', 'm_2003', 'm_3081', 'm_1923', 'm_4011']
28881 ['m_1213', 'm_122882', 'm_7361', 'm_2160', 'm_3629', 'm_296', 'm_1206', 'm_3089', 'm_2019', 'm_922']
275720 ['m_3147', 'm_30707', 'm_1207', 'm_64614', 'm_2028', 'm_1270', 'm_2571', 'm_587', 'm_954', 'm_66371']
171433 ['m_2858', 'm_6377', 'm_527', 'm_1089', 'm_1949', 'm_1', 'm_590', 'm_1035', 'm_1200', 'm_1207']
133398 ['m_318', 'm_912', 'm_1250', 'm_1234', 'm_1198', 'm_928', 'm_3095', 'm_50', 'm_1961', 'm_1269']
280148 ['m_593', 'm_912', 'm_1213', 'm_1198', 'm_1207', 'm_1219', 'm_50', 'm_1203', 'm_1247', 'm_1097']
141324 ['m_7153', 'm_4993', 'm_923', 'm_1250', 'm_1253', 'm_1387', 'm_913', 'm_2571', 'm_1207', 'm_1035']
212343 ['m_1617', 'm_858', 'm_4322', 'm_1136', 'm_1104', 'm_1203', 'm_4007', 'm_2028', 'm_1252', 'm_1307']
22226 ['m_1223', 'm_1136', 'm_1278', 'm_1080', 'm_2109', 'm_1196', 'm_357', 'm_2291', 'm_1', 'm_34']
171345 ['m_1198', 'm_1089', 'm_70286', 'm_51662', 'm_1199', 'm_318', 'm_50', 'm_1270', 'm_628', 'm_1193']
273981 ['m_1247', 'm_55820', 'm_3741', 'm_1178', 'm_1222', 'm_1212', 'm_2068', 'm_1230', 'm_2726', 'm_1077']
223078 ['m_912', 'm_1097', 'm_2920', 'm_1212', 'm_3022', 'm_1267', 'm_8154', 'm_1196', 'm_1248', 'm_1228']
27983 ['m_2501', 'm_8636', 'm_59315', 'm_34', 'm_110', 'm_98491', 'm_2791', 'm_106642', 'm_89745', 'm_6377']
158194 ['m_593', 'm_2571', 'm_6377', 'm_58559', 'm_1198', 'm_110', 'm_143355', 'm_91529', 'm_4226', 'm_168252']
236867 ['m_1095', 'm_2076', 'm_1219', 'm_3160', 'm_6985', 'm_858', 'm_296', 'm_1230', 'm_1089', 'm_3019']
95569 ['m_1196', 'm_1193', 'm_912', 'm_1240', 'm_1201', 'm_1387', 'm_1234', 'm_318', 'm_1617', 'm_2959']
127004 ['m_858', 'm_50', 'm_608', 'm_1213', 'm_527', 'm_58559', 'm_80463', 'm_908', 'm_1387', 'm_923']
81924 ['m_2068', 'm_2731', 'm_111', 'm_2920', 'm_1206', 'm_1244', 'm_1464', 'm_1233', 'm_2313', 'm_7013']
111908 ['m_5349', 'm_1291', 'm_1261', 'm_122882', 'm_89745', 'm_1748', 'm_293', 'm_78499', 'm_2000', 'm_1089']
102235 ['m_2762', 'm_1307', 'm_150', 'm_4995', 'm_1', 'm_1198', 'm_3253', 'm_2248', 'm_524', 'm_539']
260460 ['m_2858', 'm_923', 'm_1193', 'm_1172', 'm_1094', 'm_25', 'm_3996', 'm_30749', 'm_1206', 'm_1956']
15041 ['m_318', 'm_912', 'm_527', 'm_1200', 'm_1265', 'm_150', 'm_1617', 'm_3435', 'm_1204', 'm_858']
183233 ['m_593', 'm_2571', 'm_1262', 'm_2268', 'm_47', 'm_2028', 'm_4361', 'm_1198', 'm_1303', 'm_1096']
232384 ['m_912', 'm_50', 'm_7361', 'm_953', 'm_919', 'm_7153', 'm_5995', 'm_926', 'm_608', 'm_593']
33550 ['m_110', 'm_58559', 'm_2762', 'm_166643', 'm_59315', 'm_2572', 'm_1196', 'm_2571', 'm_5152', 'm_1270']
6465 ['m_858', 'm_2959', 'm_1193', 'm_296', 'm_1221', 'm_1222', 'm_1196', 'm_1203', 'm_1', 'm_1207']
123100 ['m_1221', 'm_912', 'm_1196', 'm_922', 'm_750', 'm_1193', 'm_3022', 'm_1214', 'm_1945', 'm_1208']
224634 ['m_1997', 'm_1221', 'm_2324', 'm_1193', 'm_2571', 'm_7361', 'm_30749', 'm_916', 'm_589', 'm_1278']
268681 ['m_858', 'm_908', 'm_1198', 'm_1252', 'm_1208', 'm_1206', 'm_1276', 'm_899', 'm_1213', 'm_3134']
135932 ['m_356', 'm_1270', 'm_4993', 'm_1036', 'm_480', 'm_1', 'm_112852', 'm_68358', 'm_2959', 'm_1240']
137652 ['m_356', 'm_1196', 'm_7153', 'm_58559', 'm_33493', 'm_54286', 'm_1198', 'm_1210', 'm_174053', 'm_296']
184203 ['m_7153', 'm_2959', 'm_589', 'm_1270', 'm_6874', 'm_110', 'm_1089', 'm_356', 'm_1206', 'm_1197']
109950 ['m_922', 'm_1219', 'm_1221', 'm_750', 'm_858', 'm_1254', 'm_2997', 'm_2019', 'm_910', 'm_6711']
195408 ['m_296', 'm_293', 'm_1234', 'm_912', 'm_1303', 'm_1276', 'm_31410', 'm_2571', 'm_1263', 'm_3508']
228472 ['m_7361', 'm_33794', 'm_1221', 'm_26133', 'm_68358', 'm_922', 'm_81845', 'm_1230', 'm_2612', 'm_8368']
236068 ['m_924', 'm_111', 'm_7063', 'm_1244', 'm_1199', 'm_1260', 'm_3089', 'm_1213', 'm_923', 'm_3307']
52020 ['m_858', 'm_3147', 'm_48516', 'm_7361', 'm_1036', 'm_356', 'm_3435', 'm_33166', 'm_5008', 'm_1254']
219815 ['m_953', 'm_1221', 'm_1178', 'm_3435', 'm_2927', 'm_1136', 'm_3310', 'm_2935', 'm_942', 'm_2366']
166405 ['m_1732', 'm_1260', 'm_2313', 'm_5291', 'm_2010', 'm_1189', 'm_2871', 'm_3022', 'm_1321', 'm_7361']
258474 ['m_4993', 'm_296', 'm_1221', 'm_48516', 'm_293', 'm_1196', 'm_912', 'm_5995', 'm_1193', 'm_4011']
22947 ['m_527', 'm_1222', 'm_4878', 'm_1200', 'm_3949', 'm_2762', 'm_5995', 'm_48516', 'm_68237', 'm_2324']
159846 ['m_587', 'm_104374', 'm_134130', 'm_59369', 'm_1704', 'm_8533', 'm_1302', 'm_5152', 'm_2058', 'm_70599']
185319 ['m_1198', 'm_1262', 'm_1197', 'm_150', 'm_1136', 'm_59315', 'm_589', 'm_1374', 'm_2791', 'm_1356']
232485 ['m_47', 'm_2959', 'm_296', 'm_356', 'm_4262', 'm_1246', 'm_593', 'm_1258', 'm_33794', 'm_858']
206360 ['m_527', 'm_2762', 'm_1233', 'm_1207', 'm_915', 'm_1276', 'm_1960', 'm_1193', 'm_27611', 'm_91658']
85836 ['m_750', 'm_1193', 'm_778', 'm_6016', 'm_608', 'm_1214', 'm_6669', 'm_1206', 'm_2010', 'm_3160']
37317 ['m_4993', 'm_1617', 'm_104841', 'm_589', 'm_2028', 'm_68358', 'm_1307', 'm_1217', 'm_5010', 'm_96079']
8805 ['m_60069', 'm_1387', 'm_7361', 'm_527', 'm_555', 'm_1097', 'm_7387', 'm_1240', 'm_55820', 'm_2987']
119752 ['m_953', 'm_7153', 'm_720', 'm_1267', 'm_912', 'm_2804', 'm_950', 'm_76093', 'm_89745', 'm_69122']
134596 ['m_858', 'm_3435', 'm_5952', 'm_4993', 'm_1221', 'm_159817', 'm_904', 'm_919', 'm_1148', 'm_2360']
133074 ['m_4406', 'm_2488', 'm_5291', 'm_2395', 'm_535', 'm_3608', 'm_6852', 'm_745', 'm_1387', 'm_6669']
155328 ['m_1221', 'm_923', 'm_924', 'm_7063', 'm_1213', 'm_1208', 'm_3134', 'm_1206', 'm_908', 'm_1199']
124188 ['m_50', 'm_593', 'm_1221', 'm_1214', 'm_58559', 'm_3360', 'm_1201', 'm_1387', 'm_527', 'm_68157']
26786 ['m_858', 'm_1201', 'm_5952', 'm_5291', 'm_47', 'm_1233', 'm_1252', 'm_750', 'm_589', 'm_1221']
80398 ['m_58559', 'm_2571', 'm_60069', 'm_1214', 'm_88129', 'm_1291', 'm_1036', 'm_6539', 'm_122916', 'm_1270']
5176 ['m_4226', 'm_2959', 'm_47', 'm_104879', 'm_140174', 'm_115713', 'm_109374', 'm_51540', 'm_1527', 'm_1196']
71955 ['m_2291', 'm_293', 'm_1136', 'm_1625', 'm_1221', 'm_1', 'm_1213', 'm_5995', 'm_1259', 'm_2194']
203626 ['m_919', 'm_1270', 'm_593', 'm_527', 'm_47', 'm_2291', 'm_7361', 'm_1198', 'm_1214', 'm_589']
173990 ['m_110', 'm_78499', 'm_318', 'm_60069', 'm_595', 'm_2762', 'm_1214', 'm_4973', 'm_1270', 'm_913']
249690 ['m_919', 'm_1954', 'm_1097', 'm_1207', 'm_480', 'm_7361', 'm_1090', 'm_1945', 'm_2081', 'm_922']
48470 ['m_1196', 'm_2571', 'm_1210', 'm_58559', 'm_32587', 'm_1240', 'm_1732', 'm_68358', 'm_555', 'm_27611']
186859 ['m_4226', 'm_2571', 'm_78499', 'm_3000', 'm_7153', 'm_32587', 'm_589', 'm_260', 'm_1291', 'm_2762']
2025 ['m_3741', 'm_1945', 'm_6985', 'm_919', 'm_2208', 'm_909', 'm_7361', 'm_2920', 'm_750', 'm_1673']
73145 ['m_1270', 'm_47', 'm_296', 'm_1036', 'm_1214', 'm_527', 'm_1276', 'm_3508', 'm_1097', 'm_1089']
175956 ['m_922', 'm_912', 'm_3022', 'm_3089', 'm_750', 'm_926', 'm_965', 'm_7064', 'm_910', 'm_6985']
275402 ['m_2288', 'm_1089', 'm_1200', 'm_1265', 'm_47', 'm_1237', 'm_541', 'm_1222', 'm_1263', 'm_1345']
54220 ['m_1203', 'm_923', 'm_903', 'm_924', 'm_111', 'm_1248', 'm_913', 'm_5878', 'm_2313', 'm_2160']
149100 ['m_903', 'm_858', 'm_1258', 'm_2920', 'm_7063', 'm_1208', 'm_1214', 'm_5147', 'm_1219', 'm_6985']
231770 ['m_1213', 'm_593', 'm_1200', 'm_1196', 'm_608', 'm_112552', 'm_1704', 'm_7156', 'm_2966', 'm_161582']
240274 ['m_1265', 'm_2571', 'm_4993', 'm_50', 'm_922', 'm_318', 'm_1193', 'm_912', 'm_7153', 'm_5418']
14124 ['m_1254', 'm_3365', 'm_3030', 'm_1178', 'm_1387', 'm_159817', 'm_1136', 'm_246', 'm_1244', 'm_1221']
30759 ['m_750', 'm_296', 'm_5147', 'm_923', 'm_924', 'm_2068', 'm_1284', 'm_3201', 'm_3307', 'm_7587']
230183 ['m_7361', 'm_1221', 'm_858', 'm_6870', 'm_3091', 'm_5995', 'm_41997', 'm_4235', 'm_106920', 'm_82459']
276799 ['m_4878', 'm_4226', 'm_2762', 'm_7153', 'm_3578', 'm_2692', 'm_31878', 'm_293', 'm_51662', 'm_51255']
274332 ['m_44555', 'm_608', 'm_50', 'm_1199', 'm_8949', 'm_337', 'm_6711', 'm_1617', 'm_4027', 'm_1185']
58570 ['m_1193', 'm_858', 'm_593', 'm_1036', 'm_1258', 'm_1198', 'm_2959', 'm_68157', 'm_55820', 'm_541']
184947 ['m_858', 'm_318', 'm_50', 'm_174053', 'm_32', 'm_2762', 'm_47', 'm_562', 'm_6870', 'm_3006']
139102 ['m_527', 'm_58559', 'm_122912', 'm_1270', 'm_4886', 'm_3578', 'm_163645', 'm_134130', 'm_2329', 'm_65514']
101957 ['m_858', 'm_111', 'm_912', 'm_750', 'm_1228', 'm_1284', 'm_1945', 'm_908', 'm_1204', 'm_1233']
4027 ['m_2028', 'm_527', 'm_50', 'm_858', 'm_1204', 'm_3468', 'm_1225', 'm_1035', 'm_150', 'm_356']
266853 ['m_912', 'm_296', 'm_1258', 'm_50', 'm_903', 'm_47', 'm_1732', 'm_1222', 'm_5952', 'm_1235']
128084 ['m_912', 'm_1213', 'm_527', 'm_1204', 'm_1193', 'm_2571', 'm_1203', 'm_3360', 'm_589', 'm_2797']
199733 ['m_62644', 'm_50', 'm_47', 'm_4226', 'm_2571', 'm_4327', 'm_1240', 'm_64614', 'm_926', 'm_760']
33545 ['m_750', 'm_1206', 'm_1217', 'm_2019', 'm_4973', 'm_904', 'm_3030', 'm_1172', 'm_5690', 'm_2010']
61055 ['m_593', 'm_1222', 'm_1210', 'm_97304', 'm_293', 'm_1259', 'm_260', 'm_2268', 'm_733', 'm_431']
253813 ['m_122886', 'm_2329', 'm_593', 'm_119145', 'm_4226', 'm_99114', 'm_1672', 'm_2288', 'm_50', 'm_164909']
62705 ['m_318', 'm_50', 'm_1266', 'm_1203', 'm_109374', 'm_64614', 'm_7361', 'm_116897', 'm_48394', 'm_1276']
54740 ['m_2297', 'm_1584', 'm_4223', 'm_8529', 'm_64614', 'm_3087', 'm_4776', 'm_1193', 'm_1222', 'm_541']
157679 ['m_79592', 'm_1089', 'm_91529', 'm_89745', 'm_122904', 'm_4973', 'm_51255', 'm_111', 'm_162578', 'm_2232']
248694 ['m_1258', 'm_1732', 'm_296', 'm_924', 'm_1214', 'm_3030', 'm_1266', 'm_1237', 'm_1265', 'm_162']
77157 ['m_750', 'm_3134', 'm_3091', 'm_1419', 'm_7013', 'm_904', 'm_5618', 'm_5971', 'm_3435', 'm_541']
152381 ['m_1198', 'm_750', 'm_5618', 'm_1136', 'm_608', 'm_3030', 'm_913', 'm_1206', 'm_1178', 'm_1252']
116110 ['m_8533', 'm_7293', 'm_2762', 'm_4992', 'm_30749', 'm_539', 'm_8529', 'm_31685', 'm_4890', 'm_3512']
175312 ['m_318', 'm_4995', 'm_4993', 'm_1219', 'm_33794', 'm_1097', 'm_905', 'm_72998', 'm_6870', 'm_1230']
133330 ['m_318', 'm_4973', 'm_1784', 'm_750', 'm_1219', 'm_37741', 'm_4014', 'm_1230', 'm_593', 'm_8961']
273271 ['m_2019', 'm_912', 'm_1198', 'm_1136', 'm_2920', 'm_908', 'm_1265', 'm_1617', 'm_2997', 'm_1258']
195628 ['m_318', 'm_4993', 'm_1198', 'm_50', 'm_296', 'm_4226', 'm_1221', 'm_1219', 'm_1265', 'm_1254']
23026 ['m_750', 'm_50', 'm_7153', 'm_4878', 'm_318', 'm_1136', 'm_1148', 'm_60069', 'm_3996', 'm_5291']
117293 ['m_3307', 'm_1221', 'm_1230', 'm_1204', 'm_1247', 'm_1212', 'm_3462', 'm_1198', 'm_899', 'm_2920']
65670 ['m_527', 'm_4993', 'm_923', 'm_858', 'm_33794', 'm_50', 'm_60069', 'm_1221', 'm_6791', 'm_6711']
175047 ['m_1196', 'm_55765', 'm_1265', 'm_475', 'm_1610', 'm_52604', 'm_48304', 'm_5049', 'm_500', 'm_1293']
14320 ['m_5013', 'm_44555', 'm_969', 'm_1271', 'm_2396', 'm_945', 'm_56367', 'm_1284', 'm_923', 'm_858']
121219 ['m_1198', 'm_1196', 'm_318', 'm_1617', 'm_58559', 'm_1214', 'm_4993', 'm_2858', 'm_1221', 'm_1212']
222512 ['m_1136', 'm_1997', 'm_1208', 'm_1252', 'm_26131', 'm_1089', 'm_1387', 'm_1178', 'm_1214', 'm_1249']
87425 ['m_296', 'm_50', 'm_1036', 'm_912', 'm_58559', 'm_1221', 'm_1203', 'm_1', 'm_1193', 'm_527']
117490 ['m_527', 'm_919', 'm_1221', 'm_1204', 'm_2762', 'm_1196', 'm_2858', 'm_908', 'm_904', 'm_296']
117790 ['m_595', 'm_2762', 'm_6377', 'm_527', 'm_88125', 'm_50', 'm_34072', 'm_4886', 'm_2081', 'm_910']
28665 ['m_527', 'm_898', 'm_750', 'm_246', 'm_7669', 'm_905', 'm_68954', 'm_2935', 'm_2020', 'm_1280']
94749 ['m_110', 'm_527', 'm_1196', 'm_3578', 'm_7153', 'm_109487', 'm_7143', 'm_44191', 'm_49272', 'm_480']